  body{
    position: relative;
  }
  .head {
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }

  .nav-tabs a {
    color: #4B1EAA;
    font-family: 'Mitr', sans-serif;
  }

  .about h5 {
    font-family: 'Rasa', serif;
    font-size: 60px;
    background: #4B1EAA;
    background: -webkit-repeating-linear-gradient(to top, #4B1EAA 0%, #FF9900 100%);
    background: -moz-repeating-linear-gradient(to top, #4B1EAA 0%, #FF9900 100%);
    background: repeating-linear-gradient(to top, #4B1EAA 0%, #FF9900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.sticky-top{
  transition: 10s;
}
  .about p {
    text-align: justify;
  }

  .about {
    margin: 0 0 3em;
  }

  .team .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1em;
  }

  .card img {
    border-radius: 0;
  }

  #send_request {
    text-decoration: none;
    border-radius: 2em;
    background-color: #4B1EAA;
    color: #fff;
    width: 200px;
    height: 40px;
    border: #4B1EAA;
  }

  #send_request:hover {
    border: #ff9900;
    background-color: #ff9900;
    color: #111;
  }

  #send_request:hover .fa-paper-plane {
    color: #111;
  }