body {
  background-color: #4B1EAA;
  font-family: 'Roboto', sans-serif;
}

/* MENU */

/* Navigation */

.sidebar {
  height: 100%;
  width: 252px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4B1EAA;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
}

#logo {
  display: block;
  color: #ff9900;
  font-family: 'Merienda', cursive;
  font-size: 70px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.sidebar h2 {
  font-family: 'Paytone One', sans-serif;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  color: #f1f1f1;
  margin-bottom: 20px;
}

.menu {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}


/* .sidebar a span {
  display: none;
} */

.menu:hover {
  background-color: #fff;
  color: #ff9900;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  /* border-top-right-radius: -20%; */
  /* color: #818181; */
}

.fa-home, .fa-search, .fa-info-circle {
  font-size: 40px;
}

.fa-caret-left {
  font-size: 70px;
}

/* Contact */

.media {
  padding: 15px 20px 20px 17px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 100px;
}

.media:hover {
  opacity: 0.7;
}

#fb {
  background: #3B5998;
  color: white;
}

#ins {
  background: url('../images/InsBG.jpg');
  color: white;
}

#pin {
  background: #cb2027;
  color: white;
}
.sidebar p{
  color: #f1f1f1;
  margin: 0 10px 0 20px;
  position: absolute;
  bottom: 70px;  
}
.fa-heart{
  color: #ff9900;
}
#contact {
  margin: 10px;
}
.sidebar .closebtn {
  position: absolute;
  bottom: 0;
  right: 25px;
  margin-left: 50px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  text-decoration: none;
}
input[type='checkbox'] {
  margin-right: 7px;
	 display: none;
}
input[type='checkbox'] + label span {
  position: absolute;
  bottom: 0;
  right: 25px;
  margin-left: 50px;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  width: 40px;
  height: 80px;
  vertical-align: middle;
  background: url(../images/caret-right-solid.svg) left top no-repeat;
  cursor: pointer;
  filter: invert(100%) sepia(32%) saturate(1%) hue-rotate(229deg) brightness(107%) contrast(102%);
}
input[type="checkbox"]:checked + label span {
  background: url(../images/caret-left-solid.svg)  left top no-repeat;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* MAIN */

#main {
  /* margin: 80px; */
  margin: 30px 10px 30px 240px;
  transition: margin-left .5s;
  border-radius: 2em;
  background-color: white;
  padding: 50px 20px 50px 30px;
}

.head {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  /* margin-top: 6em; */
}

/* Search */

#searchbar {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  /* background-color: #bc9dff; */
  color: #111;
  padding-left: 50px;
}

#searchicon {
  font-size: 20px;
  color: #111;
}

#button-addon2 {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 15px 20px 15px 15px;
  background-color: #ff9900;
  border: #ff9900;
}

/* Discovery */

.discovery-img {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-bottom: 2em;
}

.discovery-img img {
  border-radius: 2em;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: left;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.discovery-img:hover .overlay {
  opacity: 1;
}

#explore {
  color: #111;
  font-size: 20px;
  background-color: #ff9900;
  border: #ff9900;
  border-radius: 2em;
}

/* List product */

/* Scrollbar  */

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

div {
  box-sizing: border-box;
}

.horizontal-scroll-wrapper {
  display: block;
  width: 400px;
  margin: 0;
  /* background: #abc; */
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-402px);
  transform-origin: right top;
}

.horizontal-scroll-wrapper>div {
  display: block;
  padding: 0px;
  transform: rotate(90deg);
  transform-origin: right top;
}

.squares {
  padding: 80px 0 0 95px;
}

.squares>div {
  width: 300px;
  height: 350px;
  margin-top: -30px;
}

.squares>div:first-of-type {
  margin-top: 180px;
}

.btn-light {
  position: -webkit-sticky;
  position: sticky;
  width: 50px;
  height: 50px;
  text-decoration: none;
  display: inline-block;
  z-index: 99;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 5px 10px 15px #000;
  transform: rotate(90deg);
  transform-origin: right top;
}

.card {
  border: solid 3px #4B1EAA;
  border-radius: 2em;
}

.card img {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.card:hover {
  box-shadow: 0px 0px 20px #6c3ada;
}

#preBtn {
  display: none;
  bottom: 0;
  right: 0;
  margin-left: 7em;
}

#nextBtn {
  top: 0;
  left: 0;
  margin-left: 7em;
}

#preBtn:hover, #nextBtn:hover {
  background-color: #ddd;
  color: black;
}

iframe.width-changed {
  width: 100%;
  display: block;
  border: 0;
  height: 0;
  margin: 0;
}