#tag {
  margin-left: 2em;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}

/* input[type="radio"]:disabled~label {
    color: rgba(188, 194, 191, 1);
    border-color: rgba(188, 194, 191, 1);
    box-shadow: none;
    cursor: not-allowed;
} */

label {
  height: auto;
  display: block;
  background: white;
  border: 2px solid #4b1eaa;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding: 5px; */
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  position: relative;
  font-weight: bold;
}

input[type="radio"]:checked + label {
  background: #4b1eaa;
  color: rgba(255, 255, 255, 1);
  /* box-shadow: 0px 0px 20px #4B1EAA; */
}

input[type="radio"]:checked + label::after {
  color: rgba(61, 63, 67, 1);
  font-family: FontAwesome;
  border: 3px solid #4b1eaa;
  content: "\f00c";
  font-size: 12px;
  position: absolute;
  top: -9px;
  left: 98%;
  transform: translateX(-50%);
  height: 22px;
  width: 22px;
  line-height: 17px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

/* input[type="radio"]#control_05:checked+label {
    background: red;
    border-color: red;
}

p {
    font-weight: 900;
} */

@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}

#showTag {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tag {
  border: solid 2px #4b1eaa;
  border-radius: 30px;
  font-weight: 500;
  background-color: #d3c4f5;
  padding: 10px;
  margin: 1em;
  width: fit-content;
  height: fit-content;
}

#Filter {
  position: absolute;
  top: 120px;
  right: 1px;
  background-color: #4b1eaa;
  border: #4b1eaa;
}
.wrapper {
  max-width: 1000px;
  margin: 10px auto;
}
.wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}
.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.search-input.active input {
  border-radius: 5px 5px 0 0;
}
.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}
.search-input .icon {
  position: absolute;
  right: 0px;
  top: 5px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 15px;
  color: #644bff;
  cursor: pointer;
}
