#sidebar img{
  width: 50px;
}
#wrapper{
  background-color: #4b1eaa;
}
.logo_sidebar{
width: 80px;
}
#content form{
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}
img{
  width: 200px;
}
.row{
width: 100%
}
#content{
background-color:white;
border-radius: 2em;
}
#content input{
width: 80%;
height: 50px;
background-color: #eee6fe;
border: none;
outline: none;
color: #1d252c;
border-radius: 15px 15px 15px;
text-indent: 20px;
font-size: 20px;
margin-top: 1em;
}

li{
padding-top: 10px;
padding-bottom: 10px;
}

.head{
text-align: center;
margin-top: 6em;
}

#before_footer{
background-color: black;
color: white;
}

#before_footer a{
color: white;
}

#footer{
font-weight: 500;
height: min-content;
}
#logo{
height: auto;
padding-left: auto;
}
h2 img{
height: auto;
width: auto;
/* padding-bottom: 1em; */
}
h2{
margin-left: 1em;
vertical-align: center;
height:max-content;
}
nav{
padding-top: 2em;
padding-left: 2em;
/* text-align: center; */
}
#sidebar, #sidebar a{
color: white;
vertical-align: center;
padding-bottom: 2em;
width: 100%;
}
nav a img{
margin-right: 6px;
height: 50px;
width: 50px ;
}
nav a:hover{
background-color: #331c66;
width: 100%;
text-align: center;
text-decoration: none;
}

@media screen and (max-width: 991px){
#sidebar img{
  width: 50px;
}
#wrapper{
  background-color: #4b1eaa;
}
.logo_sidebar{
width: 80px;
}
#content form{
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}
img{
  width: 200px;
}
.row{
width: 100%
}
#content{
background-color:white;
border-radius: 2em;
}
#content input{
width: 80%;
height: 50px;
background-color: #eee6fe;
border: none;
outline: none;
color: #1d252c;
border-radius: 15px 15px 15px;
text-indent: 20px;
font-size: 20px;
margin-top: 1em;
}

li{
padding-top: 10px;
padding-bottom: 10px;
}

.head{
text-align: center;
margin-top: 6em;
}

#before_footer{
background-color: black;
color: white;
}

#before_footer a{
color: white;
}

#footer{
font-weight: 500;
height: min-content;
}
#logo{
height: auto;
padding-left: auto;
}
h2 img{
height: auto;
width: auto;
}
h2{
margin-left: 1em;
vertical-align: center;
height:max-content;
}
nav{
padding-top: 2em;
padding-left: 2em;
text-align: center;
}
#sidebar, #sidebar a{
color: white;
vertical-align: center;
padding-bottom: 2em;
width: 100%;
}
nav a img{
margin-right: 6px;
height: 50px;
width: 50px ;
}
nav a:hover{
background-color: #331c66;
width: 100%;
text-align: center;
text-decoration: none;
}
}