ul#listEmail li{
    list-style-image: url("../../images/envelope-regular.svg");
    list-style-position: inside;
    font-size: 30px;
    border-bottom: 2px solid #111;
}
ul#listEmail li.email span{
    /* filter: invert(11%) sepia(92%) saturate(4882%) hue-rotate(323deg) brightness(84%) contrast(113%); */

    color: #000 !important;
    padding-bottom: 3em;
}
ul#listEmail li:hover {
    background-color: #f8bbd0;
}