
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error</title>

	<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="../public/stylesheets/errorCatch.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
      <h1> FORBIDDEN</h1>
			<div class="notfound-404">
				<h1> <%=code%></h1>
			</div>
			<h2><%=message%></h2>
			<a href="/login"><span class="arrow"></span>Click here to Login</a>
		</div>
	</div>

</body>

</html>