/* MAIN */

.head {
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-top: 6em;
}
.head:nth-of-type(2) {
  margin-top: 0;
}
/* Search */

.search-box {
  transition: width 0.6s cubic-bezier(0, 1, 0.4, 0.99), border-radius 0.6s, background 0.6s;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 98%;
  border-radius: auto;
  background: #efe7ff;
  color: #000;
  box-shadow: 0px 1px 5px 3px #6c3ada;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}
#search-submit {
  position: relative;
  left: -5000px;
  
}
.search-icon {
  position: relative;
  left: -30px;
  color: #4b1eaa !important;
  font-size: 15px;
  cursor: pointer;
}

/* Discovery */
#discovery-carousel img{
  border-radius: 2em;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #fff;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: left;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

/* List product */

/* Scrollbar  */
.wrap-scroll-list{
  height: 430px;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

div {
  box-sizing: border-box;
}

.horizontal-scroll-wrapper, .horizontal-scroll-wrapper-1 {
  display: block;
  width: 400px;
  margin: 0;
  margin-bottom: -200px;
  /* background: #abc; */
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-402px);
  transform-origin: right top;
}

.horizontal-scroll-wrapper-1 {
  width: 320px;
  transform: rotate(-90deg) translateY(-322px);
}


.horizontal-scroll-wrapper>div, .horizontal-scroll-wrapper-1>div {
  display: block;
  padding: 0px;
  transform: rotate(90deg);
  transform-origin: right top;
}

.squares {
  padding: 80px 0 0 95px;
}

.squares>div {
  width: 300px;
  height: 350px;
  margin-top: -30px;
}

.squares>div:first-of-type, .distributeur>div:first-of-type {
  margin-top: 230px;
}

.btn-light {
  position: -webkit-sticky;
  position: sticky;
  width: 50px;
  height: 50px;
  text-decoration: none;
  display: inline-block;
  z-index: 99;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 5px 10px 15px #000;
  transform: rotate(90deg);
  transform-origin: right top;
}

.squares .card, .distributeur .card {
  width: 300px;
  border-radius: 2em;
}
/* .squares .card{
  border: solid 3px #4b1eaa;
} */


.squares .card img, .distributeur .card img{
  border-radius: 2em;
  width: 100%;
  height: 100%;
}

.squares .card:hover, .distributeur .card:hover {
  box-shadow: 0px 0px 20px #6c3ada;
}

.squares .card:hover .overlay, .distributeur .card:hover .overlay {
  opacity: 1;
}
.distributeur .card:hover .overlay{
  text-align: center;
}

#preBtn, #preBtn_distributeur{
  display: none;
  top: 0;
  left: 0;
  margin-left: 7em;
}

#nextBtn, #nextBtn_distributeur{
  bottom: 0;
  right: 0;
  margin-left: 7em;
}

#preBtn:hover, #nextBtn:hover, #preBtn_distributeur:hover, #nextBtn_distributeur:hover {
  background-color: #ddd;
  color: #111;
}
/* Distributeurs */
.distributeur {
  padding: 80px 0 0 10px;
}

.distributeur>div {
  width: 300px;
  height: 300px;
  margin-top: 20px;
}

iframe.width-changed {
  width: 100%;
  display: block;
  border: 0;
  height: 0;
  margin: 0;
}

/* Search style */
/* .ui-menu-item{
  height: 100px;
  border: 1px solid #ececf9;
} */
.ui-state-active h4,
.ui-state-active h4:visited {
    color: #efe7ff ;
}

.list_item_container {
  width:100%;
  height: 80px;
  float: left;
  margin-left: 10px;
}
.ui-widget-content .ui-state-active .list_item_container {
  background-color: #f5f5f5;
}

.imageSearch {
  width: 15%;
  float: left;
  padding: 10px;
}
.imageSearch img{
  width: 80px;
  height : 60px;
}
.labelSearch{
  width: 85%;
  float:right;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  text-align: left;
}

/* QUOTE */
      /* carousel */
      #quote-carousel {
        padding: 0 10px 30px 10px;
        margin:  100px 0;
    }

    /* Control buttons  */
    #quote-carousel .carousel-control {
        background: none;
        color: #222;
        /* font-size: 2.3em; */
        text-shadow: none;
        margin-top: 30px;
    }

    /* Previous button  */
    #quote-carousel .carousel-control-prev {
        left: -20px;
        color: black;
    }

    /* Next button  */
    #quote-carousel .carousel-control-next {
        right: -20px !important;
        color: black;
    }

    #quote-carousel img {
        width: 250px;
        height: 100px
    }

    /* End carousel */

    .carousel-item blockquote {
        border-left: none;
        margin: 0;
    }

    .carousel-item blockquote img {
        margin-bottom: 10px;
    }

    .carousel-item blockquote p:before {
        content: "\f10d";
        font-family: 'Fontawesome';
        float: left;
        margin-right: 10px;
    }
    .carousel-item blockquote p{
      text-align: justify;
    }
    .carousel-item blockquote small{
      color: #8c8c8c;
    }

    /**
MEDIA QUERIES
*/

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        #quote-carousel {
            margin-bottom: 0;
            padding: 0 40px 30px 40px;
        }

    }

    /* Small devices (tablets, up to 768px) */
    @media (max-width: 768px) {



        #quote-carousel .carousel-indicators {
            bottom: -20px !important;
        }

        #quote-carousel .carousel-indicators li {
            display: inline-block;
            margin: 0px 5px;
            width: 15px;
            height: 15px;
        }

        #quote-carousel .carousel-indicators li.active {
            margin: 0px 5px;
            width: 20px;
            height: 20px;
        }
    }
