.product-info{
  padding-top: 2em;
  font-size: 20px;
}
.product-info h2{
  font-family: 'Baloo Thambi 2', cursive;
}
.product-info .volume div{
  display: inline-block;
  border: 3px solid #111;
  border-radius: 2em;
  padding: 0 10px;
  margin: 0 5px;
}
/* IMAGE ZOOM */
.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  visibility: hidden;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #000;
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 0;
  /* margin-left: -60px; */
  opacity: 0;
  transition: opacity 0.3s;
}
/* RATING STATISTIC  */
.statistic {
    margin: 0 auto;
    margin-top: 2em;
    background-color: #EFEFEF;
    padding: 4px;
    height: fit-content;
  }
  
  .inner {
    padding: 60px 0;
    background-color: white;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
  }
  
  .rating {
    float: left;
    width: 45%;
    margin-right: 0%;
    text-align: center;
  }
  
  .rating-num {
    color: #333333;
    font-size: 72px;
    font-weight: 100;
    line-height: 1em; 
  }
  
  .rating-stars {
    font-size: 20px;
    color: #E3E3E3;
    margin-bottom: .5em;
  }
  .rating-stars .active {
    color: #737373;
  }
  
  .rating-users {
    font-size: 14px;
  }
  
  .histo {
    float: left;
    width: 50%;
    font-size: 13px;
  }
  
  .histo-star {
    float: left;
    padding: 3px;
  
  }
  
  .histo-rate {
    width: 100%;
    display: block;
    clear: both;
  }
  
  .bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
  }
  
  .bar {
    padding: 4px;
    display: block;
  }
  
  #bar-five {
    width: 0;
    background-color: #9FC05A;
  }
  
  #bar-four {
    width: 0;
    background-color: #ADD633;
  }
  
  #bar-three {
    width: 0;
    background-color: #FFD834;
  }
  
  #bar-two {
    width: 0;
    background-color: #FFB234;
  }
  
  #bar-one {
    width: 0;
    background-color: #FF8B5A;
  }

/* RATING */
.rating-form {
    margin-top: 10px;
}

.rating-form .form-group {
    position: relative;
    border: 0;
    padding: 10px;
}

.rating-form .form-legend {
    /* display: none; */
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.rating-form .form-item {
    position: relative;
    margin: 0;
    width: auto;
    text-align: center;
    direction: rtl;
    /* background-color: aqua; */
}

/* .rating-form .form-legend+.form-item {
    padding-top: 10px;
}             */

.rating-form input[type='radio'] {
    position: absolute;
    left: -9999px;
}

.rating-form label {
    display: inline-block;
    cursor: pointer;
}

.rating-form .rating-star {
    display: inline-block;
    position: relative;
}

.rating-form input[type='radio']+label:before {
    content: attr(data-value);
    position: absolute;
    right: 30px;
    bottom: -30%;
    font-size: 30px;
    opacity: 0;
    direction: ltr;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.rating-form input[type='radio']:checked+label:before {
    opacity: 1;
}

.rating-form input[type='radio']+label:after {
    content: "/ 5";
    position: absolute;
    right: 0;
    bottom: -30%;
    font-size: 20px;
    opacity: 0;
    direction: ltr;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.rating-form input[type='radio']:checked+label:after {
    opacity: 1;
}
.rating-form label .fa-star {
    font-size: 30px;
    line-height: 60px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.rating-form label:hover .far,
.rating-form label:focus .far,
.rating-form label:hover~label .far,
.rating-form label:focus~label .far,
.rating-form input[type='radio']:checked~label .far {
    opacity: 0;
}

.rating-form label .fas {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.rating-form label:hover .fas,
.rating-form label:focus .fas,
.rating-form label:hover~label .fas,
.rating-form label:focus~label .fas,
.rating-form input[type='radio']:checked~label .fas {
    opacity: 1;
}

.rating-form input[type='radio']:checked~label .fas {
    color: gold;
}

.rating-form .ir {
    position: absolute;
    left: -9999px;
}

.rating-form .form-action {
    opacity: 0;
    position: absolute;
    left: 35%;
    bottom: -30%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.rating-form input[type='radio']:checked~.form-action {
    cursor: pointer;
    opacity: 1;
}

.rating-form .btn-reset {
    display: inline-block;
    margin: 0;
    padding: 4px 10px;
    border: 0;
    font-size: 1rem;
    background: #fff;
    color: #333;
    cursor: auto;
    border-radius: 5px;
    outline: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.rating-form .btn-reset:hover,
.rating-form .btn-reset:focus {
    background: #4B1EAA;
    color: #fff;
}

.rating-form input[type='radio']:checked~.form-action .btn-reset {
    cursor: pointer;
}
#send_request {
    text-decoration: none;
    border-radius: 2em;
    background-color: #4B1EAA;
    color: #fff;
    width: 200px;
    height: 40px;
    border: #4B1EAA;
  }
  #myDiv{
    margin-top: 2em;
  }