body {
    background-color: #4b1eaa;
    font-family: "Roboto", sans-serif;
}

/* MENU */
#preloader{
    background: rgb(255, 255, 255,0.9) url(../images/loading.gif) no-repeat center center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-size: 25%;
}
/* Navigation */

.sidebar {
    height: 100%;
    width: 92px;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #4b1eaa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

#logo {
    display: block;
    color: #ff9900;
    font-family: "Merienda", cursive;
    font-size: 70px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.sidebar h2 {
    font-family: "Paytone One", sans-serif;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    display: none;
}

.menu {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a span {
    display: none;
}

.menu:hover {
    background-color: #fff;
    color: #ff9900;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sidebar .active {
    background-color: #fff;
    color: #ff9900;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sidebar .fa-home, .fa-search, .fa-info-circle {
    font-size: 40px;
}

.sidebar .fa-caret-left {
    font-size: 70px;
}

.sidebar p {
    color: #fff;
    margin: 0 10px 0 20px;
    position: absolute;
    bottom: 70px;
}

.fa-heart {
    color: #ff9900;
}

.sidebar .closebtn {
    position: absolute;
    bottom: 0;
    right: 25px;
    margin-left: 50px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

input[type="checkbox"] {
    margin-right: 7px;
    display: none;
}

input[type="checkbox"]+label span {
    position: absolute;
    bottom: 0;
    right: 25px;
    margin-left: 50px;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 80px;
    vertical-align: middle;
    background: url(../images/caret-right-solid.svg) left top no-repeat;
    cursor: pointer;
    filter: invert(100%) sepia(32%) saturate(1%) hue-rotate(229deg) brightness(107%) contrast(102%);
    transition: .6s;
}

input[type="checkbox"]:checked+label span {
    background: url(../images/caret-left-solid.svg) left top no-repeat;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    z-index: 1;
    display: none;
    opacity: .3;
  }
  
  .openbtn:hover .openbtn:focus{
    opacity: 1;
  }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

/* MAIN */

#main {
    margin: 30px 0 0 80px;
    transition: margin-left 0.5s;
    border-radius: 2em;
    background-color: #fff;
    padding: 50px 20px 50px 30px;
    height: fit-content;
}
/* FOOTER */

footer {
    /* margin: 0 10px 0 240px; */
    margin-left: 92px;
    padding: 10px;
    transition: margin-left 0.5s;
    height: fit-content;
    font-family: "Mitr", sans-serif;
    /* text-align: center; */
    color: #fff;
}

footer h5 {
    color: #ff9900;
    text-align: center;
}

.subcribe {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 50px;
    border: #fff 1px solid;
}
#button-addon2 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px 20px 15px 15px;
    background-color: #ff9900;
    border: #ff9900 solid 2px;
    z-index: 0;
  }
.contactInfo {
    text-align: start;
}

.navigation a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

.navigation a:hover {
    text-decoration: underline;
}

.rounded-social{
    text-align: center;
}

.rounded-social .media {
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    line-height: 2;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    
}

.rounded-social .media:hover {
    opacity: 0.7;
}

#fb {
    background: #3b5998;
    color: white;
}

#ins {
    background: url("../images/InsBG.jpg");
    color: white;
}

#pin {
    background: #cb2027;
    color: white;
}

footer .fa-circle {
    font-size: 5px;
    color: #fff;
}

.rights {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgb(165, 165, 165);
}

.table-borderless {
    font-family: "Mitr", sans-serif;
    color: #fff;
}

.table-borderless td:first-of-type {
    text-align: end;
}

.table-borderless td {
    text-align: left;
}

.table-borderless th h5 {
    text-align: left;
}
@media screen and (max-width: 600px) {
    .openbtn{
        display: block;
    }
    .sidebar{
        width: 0;
    }
    #main{
        margin: 0;
        margin-top: 30px;
        width: 100%;
    }
    footer{
        margin-left: 0;
    }
    /* .sticky-top{
        display: none;
    } */
}